/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


.ql-toolbar.ql-snow {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border: 1px solid #ccc !important;
    border-bottom: 0px !important;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    border: 1px solid #ccc !important;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

h1 {
    font-size: 2.5rem;
        line-height: 1.2;
}

h2 {
    font-size: 2rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.75rem;
    line-height: 1.4;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.5;
}

h5 {
    font-size: 1.25rem;
    line-height: 1.6;
}

h6 {
    font-size: 1rem;
    line-height: 1.7;
}

.rbc-event{
    /* padding: 0!important; */
    background-color: rgba(0, 0, 0, 0)!important;
    border: none!important;
}

/* calendar.css */
.rbc-event.event-new {
    background-color: #3b82f6 !important; /* bg-blue-500 */
    color: white !important;
    padding: 5px!important;
}

.rbc-event.event-in-progress {
    background-color: #f59e0b !important; /* bg-yellow-500 */
    color: white !important;
    padding: 5px!important;
}

.rbc-event.event-recovered {
    background-color: #f97316 !important; /* bg-orange-500 */
    color: white !important;
    padding: 5px!important;
}

.rbc-event.event-converted {
    background-color: #22c55e !important; /* bg-green-500 */
    color: white !important;
    padding: 5px!important;
}

.rbc-event.event-lost {
    background-color: #ef4444 !important; /* bg-red-500 */
    color: white !important;
    padding: 5px!important;
}

.rbc-today {
    background-color: rgba(0, 0, 0, 0)!important;
}

ol{
    list-style: decimal;
}

ul{
    list-style: disc;
}